			#page2_h1{
				position: relative;
				color: royalblue;
				font-size: 1rem;
				text-align: center;
				}

			#page2_p{
				position: relative;
				}

			#page2_p > p{
				font-size: large;
				font-style: italic;
				text-align: center;
				color: red;
			}

			#page2_p2{
				position: relative;
				height: 600px;
				width: 900px;
				float: right;
			}
			
			#page2_p2 > p{
				font-size: 20pt;
				position: absolute;
				border: 5px dashed red;
					padding: 10px;
				text-align: center;
			}

			#garden-image{
				position: relative;
				display: block;
				height: 300px;
				width: 350px;
				border: 1rem ridge beige;
					margin-right: 0;
				float: left
			}
			
			#garden{
				height: 200px;
				width: 200px;
				top: 40px;
				left: 60px;
				position: absolute;
					padding: 10px;
				text-align: center;
				}




