			#page2_h1{
				color: royalblue;
				font-size: 1rem;
				text-align: center;
				}

			#page2_p{
				font-size: 20pt;
				color: red;
				text-align: center;
				}

			#page2_img{
			text-align: center;
				}
			
			#garden{
				height: 200px;
				width: 200x;
				}
